<!DOCTYPE html>
<html lang="en" class="light">
<head>
  <meta charset="utf-8">
  <link href="static/assets/images/logo/ubs-dark.png" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Team Center 4.0">
  <title>Power Monitoring</title>
  <link rel="stylesheet" href="static/assets/css/app.css" />
</head>

<body class="login">
  <div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
      <div class="hidden xl:flex flex-col min-h-screen">
        <a href="" class="-intro-x flex items-center pt-5">
          <img alt="Midone - HTML Admin Template" class="w-20" src="static/assets/images/logo/ubsgold.png">
        </a>
        <div class="my-auto">
          <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16"
            src="static/assets/images/illustration.svg">
          <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
            Power
            <br>
            Monitoring
          </div>
          <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Monitoring Power Consumption</div>
        </div>
      </div>
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
              <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                  Login
                </h2>
                {% include "includes/flash.html" %}
                <form action="login" method="POST" class="theme-form">
                  <div class="intro-x mt-8">
                        <input type="text" name="nik" class="intro-x login__input form-control py-3 px-4 block" placeholder="NIK">
                        <input type="password" name="password" class="intro-x login__input form-control py-3 px-4 block mt-4"
                          placeholder="Password">
                      </div>
                      <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Login</button>
                      </div>
                </form>
                <div class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left"> You only login by 
                  <a class="text-primary dark:text-slate-200" href="http://172.20.33.42/sso" target="_blank">SSO</a>,
                  if you don't have one please contact IT support for further info.
                </div>
              </div>
        </div>
      <!-- END: Login Form -->
    </div>
  </div>
  <!-- BEGIN: Dark Mode Switcher-->
  <div onclick="darkMode()" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
    <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
    <div class="dark-mode-switcher__toggle border"></div>
    <input type="checkbox" id="cb_dark" style="display: none;">
  <!-- END: Dark Mode Switcher-->

  <!-- BEGIN: JS Assets-->
  <script src="static/assets/js/app.js"></script>
  <!-- END: JS Assets-->
</body>


<script>
  function darkMode() {
    var cb_dark_mode = document.getElementById("cb_dark");
    if (cb_dark_mode.checked) {
        cb_dark_mode.checked = false;
    }else {
        cb_dark_mode.checked = true;
    }
    //console.log(cb_dark_mode.checked);
      if (cb_dark_mode.checked) {
        const htmlElement = document.querySelector('html');

        // Remove the "light" class and add the "dark" class
        htmlElement.classList.remove('light');
        htmlElement.classList.add('dark');
      }else{
        const htmlElement = document.querySelector('html');

        // Remove the "light" class and add the "dark" class
        htmlElement.classList.remove('dark');
        htmlElement.classList.add('light');
      }

    }
</script>

</html>